<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/reusable.css" />
    <link rel="stylesheet" href="/userShow.css" />
    <script src="https://kit.fontawesome.com/57fbcb0790.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400&display=swap" rel="stylesheet"/>
    <% include ../partials/favicon %>
    <title>INK City</title>
</head>
<body>
    <!-- Nav Var -->
    <% include ../partials/navAndFlash %>
    <section id="profileSection">
        <div class="page-layout-grid">
            <!-- Card -->
            <div class="card">
              <img src="<%= user.profilePictureURL %>" class="card-img-top" id="cardImg" />
              <div class="card-body">
                <h5 class="card-title"><%= user.username %></h5>
                <div class="card-content">
                  <div class="card-about">
                    <p>About</p>
                    <!-- Open modal through Icon --> 
                    <% if(currentUser && user._id.equals(currentUser._id)) { %>
                      <!-- Current user control icons -->
                      <div class="aboutDivRight">
                        <i id="myBtn" class="fas fa-user-edit"></i>
                        <i onclick="myFunction()" class="fas fa-user-minus"></i>
                      </div>
                    <% } else { %>
                      <!-- Other user div icons -->
                      <div class="aboutDivRight">
                        <!-- If the current user has already added the displayed user
                              show the unfollow icon, else, show the follow icon -->
                        <% if(currentUser.friends.includes(user._id)) { %>
                          <i class="fas fa-user-minus"></i>
                        <% } else { %>
                          <!-- Form to send add friend request -->
                          <form action="/users/newFriend" method="POST">
                            <input type="text" name="newFriend[id]" value="<%= user._id%>" class="formValueInput" readonly="readonly">                
                            <button><i class="fas fa-user-plus"></i></button>
                          </form>
                        <% } %>
                      </div>
                    <% } %>
                  </div>
                  
                  <p class="card-user-description">
                    <%= user.about %>
                  </p>
                  <div class="card-follow-grid">
                    <p class="followText">Following</p>
                    <p><%= user.following.length %></p>
                    <p class="followText">Friends</p>
                    <p><%= user.friends.length %></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Col -->
            <div class="content-column">
              <!-- Tab Instructions -->
              <!--    Create buttons to open specific tab content.
                All <div> elements with class="tabcontent" are hidden by default (with CSS & JS).
                When the user clicks on a button - it will open the tab content that "matches" this button. -->
    
              <!-- Tab Links -->
              <div class="tab">
                <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'Following')">
                  Following
                </button>
                <button class="tablinks" onclick="openTab(event, 'Friends')">
                  Friends
                </button>
              </div>
    
              <!-- Tab content -->
              <div id="Following" class="tabcontent">
                <ul class="list">
                  <!------------------------------------------ get info from juicer to put data in here ------------------------------------------------>
                  <% if(user.following.length == 0) { %>
                    <li>Not following anyone yet! <i class="fas fa-times"></i></li> 
                    <li>Not following anyone yet! <i class="fas fa-times"></i></li> 
                  <% } else { %>
                    <li>Put Juicer Data Here <i class="fas fa-times"></i></li> 
                  <% } %>
                  
                </ul>
              </div>
    
              <div id="Friends" class="tabcontent">
                <ul class="list">
                    <% if(user.friends.length == 0) { %>
                      
                    <% } else { %>
                      <% user.friends.forEach((friend) => { %>
                        <form action="/users/yeetFriend/<%= friend._id %>" method="POST">
                          <li><%= friend.username %>
                            <% if(currentUser && user._id.equals(currentUser._id)) { %>
                             <button class="delfrbtn" style="display: none;"><i class="fas fa-times"></i></button>
                            <% } %>
                            </li>
                        </form>
                      <% }); %>
                    <% } %>
                </ul>
              </div>
            </div>
          </div>
    </section>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="modalTitle">Update Profile</h2>
        
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
          <div class="formWrapper">
            <div>
              <label for="profilePictureURL" class="modalLabel">Profile pic img url</label>
              <input name="userInfo[profilePictureURL]" value="<%= user.profilePictureURL %>" placeholder="Ex - https://i.imgur.com/VjEkJdI.jpg" type="text" id="profilePictureURL" class="modalInput"/> 
            </div>
            <div>
              <label for="about" class="modalLabel">About</label>
              <textarea name="userInfo[about]" placeholder="Write something about yourself!" id="about"> <%= user.about %></textarea>
            </div>
            <input type="submit" class="btn btn-full" id="modalSubmit"></input>
          </div>
        </form>  
        

      </div>
  </div>

    <script src="/tab.js"></script>




    <% include ../partials/footer %>

