<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/reusable.css" />
    <link rel="stylesheet" href="/userIndex.css" />
    <script src="https://kit.fontawesome.com/57fbcb0790.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400&display=swap"
      rel="stylesheet"
    />
    <% include ../partials/favicon %>
    <title>INK City</title>
  </head>
  <body>
    <!-- Nav Var -->
    <% include ../partials/navAndFlash %> 
    
    <section class="userIndexSection">
      <div class="userIndexWrapper">
        <% user.forEach((user) => { %>
          <div class="userDiv">
            <!-- Image is also an href to the userShow route -->
            <a href="/users/<%= user._id %>"><img class="clearfix" src="<%= user.profilePictureURL %>" alt="Profile picture"></a>
            <div class="titleAddGrid">
              <a href="/users/<%= user._id %>"><p><%= user.username %></p></a> 
              <!-- The icon is also an href to add the clicked user to the current user friends list -->
              
              <form action="/users/newFriend" method="POST">
                <input type="text" name="newFriend[id]" value="<%= user._id%>" class="formValueInput">                
                <button><i class="fas fa-user-plus"></i></button>
              </form>
              
            </div>
            
            <p class="about"><%= user.about %></p>
          </div>
        <% }); %>
        
      </div>
    </section>



    <% include ../partials/footer %>
  </body>
</html>
